@model SignUpViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dml Pos Sistemleri</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../LoginFiles/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../LoginFiles/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../LoginFiles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../LoginFiles/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../LoginFiles/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../LoginFiles/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../LoginFiles/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../LoginFiles/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../LoginFiles/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../LoginFiles/css/util.css">
	<link rel="stylesheet" type="text/css" href="../LoginFiles/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../image/dmlbackgroundimage.jpg');">
			<div class="wrap-login100">
				<form asp-controller="User" asp-action="SignUp" method="post" class="login100-form validate-form" id="signupForm">
					<div asp-validation-summary="All" class="text-danger"></div>
					<span class="login100-form-logo">
						<i><img src="../image/logodml.png" alt="" style="max-width: 100%; max-height: 100%;"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Hoş Geldiniz
					</span>
					
                        <div class="wrap-input100 validate-input" data-validate = "İsim Soyisim Girin">
                            <input class="input100" asp-for="FullName" placeholder="İsim Soyisim">
                            <span class="focus-input100" asp-for="FullName" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "E-Postanızı Adınızı Girin">
                            <input class="input100" asp-for="Email" placeholder="E-Posta">
                            <span class="focus-input100" asp-for="Email" data-placeholder="&#xf207;"></span>
                        </div>
                        
    
                        

                        <div class="wrap-input100 validate-input" data-validate="Telefon Numaranızı Girin">
                            <input class="input100" asp-for="Phone" maxlength="11" placeholder="Telefon No">
                            <span class="focus-input100" asp-for="Phone" data-placeholder="&#xf191;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Şirket Adı Girin">
                            <input class="input100" asp-for="CompanyName" placeholder="Şirket Adı">
                            <span class="focus-input100" asp-for="CompanyName" data-placeholder="&#xf191;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Adres Girin">
                            <input class="input100" asp-for="Address" placeholder="Adres">
                            <span class="focus-input100" asp-for="Address" data-placeholder="&#xf191;"></span>
                        </div>

						<div class="wrap-input100 validate-input" data-validate="Şifre Girin">
                            <input class="input100" asp-for="Password" placeholder="Şifre">
                            <span class="focus-input100" asp-for="Password" data-placeholder="&#xf191;"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Şifre Girin">
                            <input class="input100" asp-for="ConfirmPassword" placeholder="Tekrar Sifre">
                            <span class="focus-input100" asp-for="ConfirmPassword" data-placeholder="&#xf191;"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn" onclick="showAlert()">Kayıt Ol</button>
                        </div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../LoginFiles/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../LoginFiles/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../LoginFiles/vendor/bootstrap/js/popper.js"></script>
	<script src="../LoginFiles/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../LoginFiles/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../LoginFiles/vendor/daterangepicker/moment.min.js"></script>
	<script src="../LoginFiles/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../LoginFiles/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../LoginFiles/js/main.js"></script>

	<script>
		function showAlert() {
			if (confirm("Kayıt oldunuz. Giriş yapmak istiyor musunuz?")) {
				document.getElementById("signupForm").submit();
			}
		}
	</script>
	
</body>
</html>